In [14]:
import numpy as np

In [15]:
revenue = np.array([[180,200,200],[24,36,40],[12,18,20]])
expenses = np.array([[80,90,100],[10,16,20],[8,10,10]])

In [20]:
np.multiply(revenue,expenses)

array([[14400, 18000, 20000],
       [  240,   576,   800],
       [   96,   180,   200]])

In [19]:
profit=revenue-expenses
profit

array([[100, 110, 100],
       [ 14,  20,  20],
       [  4,   8,  10]])

In [21]:
revenue*expenses

array([[14400, 18000, 20000],
       [  240,   576,   800],
       [   96,   180,   200]])

In [22]:
single=np.array([1000,400,1200])
single*expenses

array([[ 80000,  36000, 120000],
       [ 10000,   6400,  24000],
       [  8000,   4000,  12000]])

In [24]:
#here we can see that the result array is not of the correct dimension, therefore
np.dot(single, expenses)

array([ 93600, 108400, 120000])

EXERCISE

In [25]:
arr = np.array([[200,220,250],[68,79,105],[110,40,180],[80,85,90]])
arr

array([[200, 220, 250],
       [ 68,  79, 105],
       [110,  40, 180],
       [ 80,  85,  90]])

In [28]:
#converting each values to INR from USD
res = np.multiply(arr,75)
res

array([[15000, 16500, 18750],
       [ 5100,  5925,  7875],
       [ 8250,  3000, 13500],
       [ 6000,  6375,  6750]])

In [29]:
units_sold = np.array([[50,60,25],[10,13,5],[40,70,52]])
price_per_unit=np.array([20,30,15])

In [32]:
total_sales = np.dot(price_per_unit,units_sold)
total_sales

array([1900, 2640, 1430])